5.

In [ ]:
trr='ABCDEFGHIKLMNOPQRSTUVWXYZ'
n=4

In [ ]:
a=0
b=1

while b<=4:
  tr=trr[a:b]
  b+=1
  print(tr)

A
AB
ABC
ABCD

In [ ]:
for i in range(5):
  print(trr[:i])

A
AB
ABC
ABCD

5.1

In [ ]:
for i in range(65,70):
  for j in range(65,i+1):
    print(chr(i),end="")
    i=i+1
  print()

A
BC
CDE
DEFG
EFGHI

In [ ]:
for i in range(0,n):
  for j in range(0,i+1):
    print(trr[i],end="")
    i=i+1
  print()

A
BC
CDE
DEFG

6.

In [ ]:
trr

'ABCDEFGHIKLMNOPQRSTUVWXYZ'

In [ ]:
N=4

In [ ]:
bb=list(range(N))

In [ ]:
bb.reverse()

In [ ]:
for i in bb:
  print(trr[i:N])

D
CD
BCD
ABCD

7.

In [ ]:
n=4

In [ ]:
for i in range(n):
  print(trr[:i+1])

A
AB
ABC
ABCD

8.

In [ ]:
st='1'

In [ ]:
for i in range(1,n+1):
  print(i*'1')

1
11
111
1111

9.

In [ ]:
n=4

In [ ]:
for i in range(n):
  if i==0:
    print(1)
  print(str(i+1)+(i)*str(0)+str(i+1))

1
11
202
3003
40004

10.

In [ ]:
for i in range(n):
  if i==0:
    print(1)
  print(str(1)+(i)*str(2)+str(1))

1
11
121
1221
12221

11.

In [ ]:
# a=[]
strr='12345'
for j in range(n):
  print(strr[j::-1])

1
21
321
4321

In [ ]:
strr[5::-1]

'54321'

12.

In [ ]:
for i in range(1,n+1):
  print(str(i)*i)

1
22
333
4444

13.

In [ ]:
vv='01234567890'
for i in range(1,n+1):
  print(vv[i:i+i])

1
23
345
4567

14.

In [ ]:
vv=['1','2','3','4','5','6','7','8','9','10']
asv=0
for i in range(n):
    # inner loop for jth columns
    for j in range(0,i+1):
        char = vv[asv]
        print(char,end="")
        asv += 1
    print()

1
23
456
78910

15.

In [ ]:
bb=list(range(n+1))
bb.reverse()
vv='123456789'
for i in bb:
  print(vv[0:i])

1234
123
12
1

16.

In [ ]:
n=4
n=list(range(n+1))
n.reverse()
for i in n:
  if i ==0:
    print()
  elif i==1:
    print(1)
  else:
    print(str(i)+str(i)*(i-2)+str(i))

4444
333
22
1

17.

In [ ]:
n=5

In [ ]:

n=(5)
lstt=[1,0,1,0,1,0,1,0]
for i in lstt:
  # n=5
  if i>=0:
    print(str(i)*n)
    n=n-1

11111
0000
111
00
1

18.

In [ ]:
rows = 6
for i in range(1, rows):
    num = 1
    for j in range(rows, 0, -1):
        if j > i:
            print(" ", end=' ')
        else:
            print(num, end=' ')
            num += 1
    print("")

          1
        1 2
      1 2 3
    1 2 3 4
  1 2 3 4 5

In [ ]:
n=5
for i in range(1,n+1):
  num=1
  for j in range(n,0,-1):
    if j>i:
      print(" ", end="")
    else:
      print(num, end="")
      num=num+1
  print("")

    1
   12
  123
 1234
12345

19.

In [ ]:
n=4
for i in range(1,n+1):
  # num=1
  for j in range(n,0,-1):
    if j>i:
      print(" ", end="")
    else:
      print(j, end="")
      # num=num+1
  print("")

   1
  21
 321
4321

20.

In [ ]:
n=5
for i in range(n):
  print(str(n)*n)

55555
55555
55555
55555
55555

21.

In [ ]:
n=4
for i in range(1,n+1):
  print(str(i)*n)

1111
2222
3333
4444

22.

In [ ]:
n=4
for i in range(n):
  for j in range(n,0,-1):
    print(j, end="")
  print()

4321
4321
4321
4321

23.

In [ ]:
trr

'ABCDEFGHIKLMNOPQRSTUVWXYZ'

In [ ]:
trr='ABCDEFGHIKLMNOPQRSTUVWXYZ'
n=4
for i in range(n):
  print(trr[:n])

ABCD
ABCD
ABCD
ABCD

24.

In [ ]:
trr='ABCDEFGHIKLMNOPQRSTUVWXYZ'
n=4
for i in range(n):
  print(trr[i:n+i])

ABCD
BCDE
CDEF
DEFG

25.

In [ ]:
n=5
for i in range(1,n+1):
  num='1'
  space=''
  for j in range(n,0,-1):
    if j>i:
      print(" ", end="")
    elif j<i:
      print("",end="")
      
      space=space+' '
    else:
      print(num, end="")
      num=num+' '
  print("")
print('11111')

    1
   1
  1
 1
1
11111

In [ ]:
n = 5
for a1 in range(1,n+1): #from row 1 to 5
    for a2 in range(n-a1):
        print(" ", end = "")
    for a3 in range((a1*2)-1):
      if a3==0 or a3== ((a1*2)-2):
        print("*",end="")
      else:
        print(" ", end = "")
    print()

for a1 in range(n + 1, n + 5): #from row 6 to 9
    for a2 in range(a1 - n):
        print(" ", end = "")
    for a3 in range((n+5 - a1)*2 - 1):
      if a3==0 or a3==((n+5 - a1)*2 - 2):
        print("*", end = "")
      else:
        print(" ", end = "")

    print()

    *
   * *
  *   *
 *     *
*       *
 *     *
  *   *
   * *
    *

In [ ]:
n = 5
for a1 in range(1,n+1): #from row 1 to 5
    for a2 in range(n-a1):
        print(" ", end = "")
    for a3 in range((a1*2)-1):
       print("*", end= "")
    print()

for a1 in range(n + 1, n + 5): #from row 6 to 9
    for a2 in range(a1 - n):
        print(" ", end = "")
    for a3 in range((n+5 - a1)*2 - 1):
        print("*", end = "")
    print()

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [ ]:
#extraa one 
rows = 5
i = 1
while i <= rows:
    j = rows
    while j > i:
        # display space
        print(' ', end=' ')
        j -= 1
    print('*', end=' ')
    k = 1
    while k < 2 * (i - 1):
        print('*', end=' ')
        k += 1
    if i == 1:
        print()
    else:
        print('*')
    i += 1

i = rows - 1
while i >= 1:
    j = rows
    while j > i:
        print(' ', end=' ')
        j -= 1
    print('*', end=' ')
    k = 0
    while k <= 2 * (i - 2):
        print('*', end=' ')
        k += 1
    if i == 1:
        print()
    else:
        print('*')
    i -= 1

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

26.

In [ ]:
int(9/ 2)

4

In [ ]:
# Python3 program for printing the rectangular pattern


n=5
# number of rows and columns to be printed
s = 2 * n - 1

# Upper Half
for i in range(0, int(s / 2) + 1):
      
    m = n

    # Decreasing part
    for j in range(0, i):
        print(m ,end= "" )
        m-=1
      
    # Constant Part
    for k in range(0, s - 2 * i):
        print(n-i ,end= "" )
      
    # Increasing part.
    m = n - i + 1
    for l in range(0, i):
        print(m ,end= "" )
        m+=1
      
    print("")
  
# Lower Half
for i in range(int(s / 2),-1,-1):

    # Decreasing Part
    m = n
    for j in range(0, i):
        print(m ,end= "" )
        m-=1
      

    # Constant Part.
    for k in range(0, s - 2 * i):
        print(n-i ,end= "" )
      

    # Decreasing Part
    m = n - i + 1
    for l in range(0, i):
        print(m ,end= "" )
        m+=1
      
    print("")

555555555
544444445
543333345
543222345
543212345
543212345
543222345
543333345
544444445
555555555

In [ ]:
# Function to print the pattern
def printPattern(n):
 
    arraySize = n * 2 - 1;
    result = [[0 for x in range(arraySize)]
                 for y in range(arraySize)];
         
    # Fill the values
    for i in range(arraySize):
        for j in range(arraySize):
            if(abs(i - (arraySize // 2)) >
               abs(j - (arraySize // 2))):
                result[i][j] = abs(i - (arraySize // 2)) + 1;
            else:
                result[i][j] = abs(j - (arraySize // 2)) + 1;
             
    # Print the array
    for i in range(arraySize):
        for j in range(arraySize):
            print(result[i][j], end = "");
        print("");
printPattern(5)

555555555
544444445
543333345
543222345
543212345
543222345
543333345
544444445
555555555

27.

In [ ]:
# for i in

In [ ]:
# 5

# 1 2 3 4 5 
# 11 12 13 14 15 
# 21 22 23 24 25 
# 16 17 18 19 20 
# 6 7 8 9 10

28.

In [ ]:
n= 5
for i in range(0,int(n/2)+1):
  for a2 in range(i,0,-1):
    print(" ", end = "")
  for j in range(0, i + 1):
    if j>=0:
      print("*", end=' ')
  print("")

for i in range(int(n/2)+1, 0, -1):
    for a2 in range(i-1,1,-1):
        print(" ", end='')
    for j in range(i,1,-1):
      if j>=0:
        print("*", end=' ')
    print("")

*
 * *
  * * *
 * *
*

29.

In [ ]:
n=5
for i in range(1,n+1):
  for j in range(n,0,-1):      
      if i==j:
        print('*',end="")
      else:
        print(str(j),end="")
  print("")

5432*
543*1
54*21
5*321
*4321

In [ ]:
n=4
for i in range(n):
  for j in range(9,0,-1):
    if j%2!=0:
      print('*',end="")
    else:
      print(0,end="")
  print("")

30.

In [ ]:
n=4
for i in range(n+1,1,-1):
  for j in range(n+1,0,-1):      
      if i==j:
        print('*',end="")
      elif j==1:
        print('*',end="")
      else:
        print(j*0,end="")
  # print("")
  for k in range(2,n+2):      
      if i==k:
        print('*',end="")
      else:
        print(i*0,end="")
  print("")

*000*000*
0*00*00*0
00*0*0*00
000***000

31.

In [ ]:
rows = 5
for i in range(rows, 0, -1):
  for j in range(rows, i, -1):
    print(' ',end="")
  for j in range(1, i + i):
    print("*", end="")
  print("")

for i in range(1,rows):
  for j in range(rows-1,i,-1):
    print(' ',end="")
  for k in range(i+i+2,1,-1):
    print("*",end="")
  print("")

*********
 *******
  *****
   ***
    *
   ***
  *****
 *******
*********

32.

In [ ]:
n=5
for i in range(1,n):
  for j in range(1,i+1):
    if j==1 :
      print("*",end="")
    elif j==(i):
      print("*",end="")
    else :
      print("Q",end="")
  print("")
print("*"*n,end="")

*
**
*Q*
*QQ*
*****

33.

In [ ]:
rows = 5
i = 1
while i <= rows:
    j = i
    while j < rows:
        # display space
        print(' ', end='')
        j += 1
    k = 1
    while k <= i:
        print('*', end='')
        k += 1
    print()
    i += 1

i = rows
while i >= 1:
    j = i
    while j <= rows:
        print(' ', end='')
        j += 1
    k = 1
    while k < i:
        print('*', end='')
        k += 1
    print('')
    i -= 1

    *
   **
  ***
 ****
*****
 ****
  ***
   **
    *

34.

In [ ]:
n=5
for i in range(n,0,-1):
  for j in range(1,n+1):
    if j<i:
      print(" ",end="")
    else:
      print("*",end="")
  print("")

     *
    **
   ***
  ****
 *****
******

35.

In [66]:
n=5
for i in range(n):
  # for j in range(i+1):
  #   print("S",end="")
  # for k in range(i+1,n+1):
  #   print(k,end="")
  # print("")

  for j in range(i,n-1):
    print("S",end="")
  for k in range(i,n):
    print(i,end="")
  print("")

SSSS00000
SSS1111
SS222
S33
4

In [ ]:
5

12345
 2345
   345
     45
       5
     45
   345
 2345
12345

SyntaxError: ignored

In [ ]:
x = 0
while x < 5:
  print('x is currently: ',x)
  print(' x is still less than 10, adding 1 to x')
  x+=1
print("All done")
print("I am done with the iterations")