28OR50,37OR27

5.

In [ ]:
trr='ABCDEFGHIKLMNOPQRSTUVWXYZ'
n=4

In [ ]:
a=0
b=1

while b<=4:
  tr=trr[a:b]
  b+=1
  print(tr)

A
AB
ABC
ABCD

In [ ]:
for i in range(5):
  print(trr[:i])

A
AB
ABC
ABCD

5.1

In [ ]:
for i in range(65,70):
  for j in range(65,i+1):
    print(chr(i),end="")
    i=i+1
  print()

A
BC
CDE
DEFG
EFGHI

In [ ]:
for i in range(0,n):
  for j in range(0,i+1):
    print(trr[i],end="")
    i=i+1
  print()

A
BC
CDE
DEFG
EFGHI

6.

In [ ]:
trr

'ABCDEFGHIKLMNOPQRSTUVWXYZ'

In [ ]:
N=4

In [ ]:
bb=list(range(N))

In [ ]:
bb.reverse()

In [ ]:
for i in bb:
  print(trr[i:N])

D
CD
BCD
ABCD

7.

In [ ]:
n=4

In [ ]:
for i in range(n):
  print(trr[:i+1])

A
AB
ABC
ABCD

8.

In [ ]:
st='1'

In [ ]:
for i in range(1,n+1):
  print(i*'1')

1
11
111
1111

9.

In [ ]:
n=4

In [ ]:
for i in range(n):
  if i==0:
    print(1)
  print(str(i+1)+(i)*str(0)+str(i+1))

1
11
202
3003
40004

10.

In [ ]:
for i in range(n):
  if i==0:
    print(1)
  print(str(1)+(i)*str(2)+str(1))

1
11
121
1221
12221

11.

In [ ]:
# a=[]
strr='12345'
for j in range(n):
  print(strr[j::-1])

1
21
321
4321

In [ ]:
strr[5::-1]

'54321'

12.

In [ ]:
for i in range(1,n+1):
  print(str(i)*i)

1
22
333
4444

13.

In [ ]:
vv='01234567890'
for i in range(1,n+1):
  print(vv[i:i+i])

1
23
345
4567

14.

In [ ]:
vv=['1','2','3','4','5','6','7','8','9','10']
asv=0
for i in range(n):
    # inner loop for jth columns
    for j in range(0,i+1):
        char = vv[asv]
        print(char,end="")
        asv += 1
    print()

1
23
456
78910

15.

In [ ]:
bb=list(range(n+1))
bb.reverse()
vv='123456789'
for i in bb:
  print(vv[0:i])

1234
123
12
1

16.

In [ ]:
n=4
n=list(range(n+1))
n.reverse()
for i in n:
  if i ==0:
    print()
  elif i==1:
    print(1)
  else:
    print(str(i)+str(i)*(i-2)+str(i))

4444
333
22
1

17.

In [ ]:
n=5

In [ ]:

n=(5)
lstt=[1,0,1,0,1,0,1,0]
for i in lstt:
  # n=5
  if i>=0:
    print(str(i)*n)
    n=n-1

11111
0000
111
00
1

18.

In [ ]:
rows = 6
for i in range(1, rows):
    num = 1
    for j in range(rows, 0, -1):
        if j > i:
            print(" ", end=' ')
        else:
            print(num, end=' ')
            num += 1
    print("")

          1
        1 2
      1 2 3
    1 2 3 4
  1 2 3 4 5

In [ ]:
n=5
for i in range(1,n+1):
  num=1
  for j in range(n,0,-1):
    if j>i:
      print(" ", end="")
    else:
      print(num, end="")
      num=num+1
  print("")

    1
   12
  123
 1234
12345

19.

In [ ]:
n=4
for i in range(1,n+1):
  # num=1
  for j in range(n,0,-1):
    if j>i:
      print(" ", end="")
    else:
      print(j, end="")
      # num=num+1
  print("")

   1
  21
 321
4321

20.

In [ ]:
n=5
for i in range(n):
  print(str(n)*n)

55555
55555
55555
55555
55555

21.

In [ ]:
n=4
for i in range(1,n+1):
  print(str(i)*n)

1111
2222
3333
4444

22.

In [ ]:
n=4
for i in range(n):
  for j in range(n,0,-1):
    print(j, end="")
  print()

4321
4321
4321
4321

23.

In [ ]:
trr

'ABCDEFGHIKLMNOPQRSTUVWXYZ'

In [ ]:
trr='ABCDEFGHIKLMNOPQRSTUVWXYZ'
n=4
for i in range(n):
  print(trr[:n])

ABCD
ABCD
ABCD
ABCD

24.

In [ ]:
trr='ABCDEFGHIKLMNOPQRSTUVWXYZ'
n=4
for i in range(n):
  print(trr[i:n+i])

ABCD
BCDE
CDEF
DEFG

25.

In [ ]:
n=5
for i in range(1,n+1):
  num='1'
  space=''
  for j in range(n,0,-1):
    if j>i:
      print(" ", end="")
    elif j<i:
      print("",end="")
      
      space=space+' '
    else:
      print(num, end="")
      num=num+' '
  print("")
print('11111')

    1
   1
  1
 1
1
11111

In [ ]:
n = 5
for a1 in range(1,n+1): #from row 1 to 5
    for a2 in range(n-a1):
        print(" ", end = "")
    for a3 in range((a1*2)-1):
      if a3==0 or a3== ((a1*2)-2):
        print("*",end="")
      else:
        print(" ", end = "")
    print()

for a1 in range(n + 1, n + 5): #from row 6 to 9
    for a2 in range(a1 - n):
        print(" ", end = "")
    for a3 in range((n+5 - a1)*2 - 1):
      if a3==0 or a3==((n+5 - a1)*2 - 2):
        print("*", end = "")
      else:
        print(" ", end = "")

    print()

    *
   * *
  *   *
 *     *
*       *
 *     *
  *   *
   * *
    *

In [ ]:
n = 5
for a1 in range(1,n+1): #from row 1 to 5
    for a2 in range(n-a1):
        print(" ", end = "")
    for a3 in range((a1*2)-1):
       print("*", end= "")
    print()

for a1 in range(n + 1, n + 5): #from row 6 to 9
    for a2 in range(a1 - n):
        print(" ", end = "")
    for a3 in range((n+5 - a1)*2 - 1):
        print("*", end = "")
    print()

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [ ]:
#extraa one 
rows = 5
i = 1
while i <= rows:
    j = rows
    while j > i:
        # display space
        print(' ', end=' ')
        j -= 1
    print('*', end=' ')
    k = 1
    while k < 2 * (i - 1):
        print('*', end=' ')
        k += 1
    if i == 1:
        print()
    else:
        print('*')
    i += 1

i = rows - 1
while i >= 1:
    j = rows
    while j > i:
        print(' ', end=' ')
        j -= 1
    print('*', end=' ')
    k = 0
    while k <= 2 * (i - 2):
        print('*', end=' ')
        k += 1
    if i == 1:
        print()
    else:
        print('*')
    i -= 1

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

26.

In [ ]:
int(9/ 2)

4

In [ ]:
# Python3 program for printing the rectangular pattern


n=5
# number of rows and columns to be printed
s = 2 * n - 1

# Upper Half
for i in range(0, int(s / 2) + 1):
      
    m = n

    # Decreasing part
    for j in range(0, i):
        print(m ,end= "" )
        m-=1
      
    # Constant Part
    for k in range(0, s - 2 * i):
        print(n-i ,end= "" )
      
    # Increasing part.
    m = n - i + 1
    for l in range(0, i):
        print(m ,end= "" )
        m+=1
      
    print("")
  
# Lower Half
for i in range(int(s / 2),-1,-1):

    # Decreasing Part
    m = n
    for j in range(0, i):
        print(m ,end= "" )
        m-=1
      

    # Constant Part.
    for k in range(0, s - 2 * i):
        print(n-i ,end= "" )
      

    # Decreasing Part
    m = n - i + 1
    for l in range(0, i):
        print(m ,end= "" )
        m+=1
      
    print("")

555555555
544444445
543333345
543222345
543212345
543212345
543222345
543333345
544444445
555555555

In [ ]:
# Function to print the pattern
def printPattern(n):
 
    arraySize = n * 2 - 1;
    result = [[0 for x in range(arraySize)]
                 for y in range(arraySize)];
         
    # Fill the values
    for i in range(arraySize):
        for j in range(arraySize):
            if(abs(i - (arraySize // 2)) >
               abs(j - (arraySize // 2))):
                result[i][j] = abs(i - (arraySize // 2)) + 1;
            else:
                result[i][j] = abs(j - (arraySize // 2)) + 1;
             
    # Print the array
    for i in range(arraySize):
        for j in range(arraySize):
            print(result[i][j], end = "");
        print("");
printPattern(5)

555555555
544444445
543333345
543222345
543212345
543222345
543333345
544444445
555555555

27.

In [ ]:
n=6
m=1

for i in range(1,n+1):
  for j in range(m,m+n):
    print(j,end=" ")
  print()
  if i==((n+1)//2):
    if (n%2)!=0:
      m=n*(n-2)+1
    else:
      m=n*(n-1)+1
  elif i>((n+1)//2):
    m=m-2*n
  else :
    m=m+2*n

1 2 3 4 5 6
13 14 15 16 17 18
25 26 27 28 29 30
31 32 33 34 35 36
19 20 21 22 23 24
7 8 9 10 11 12

In [ ]:

n=6
m=0
for i in range(1,n+1):
  if(i==1):
    m=0
  elif(i==n):
    m=n
  #elif(i>(n/2)+1):
  elif(i>(n/2)):
    if(i>(n/2)+1):
      m=m-n
    else:
      m=m+n
    #r1+=n
  else:
    m=m+(2*n)
  r2=m+n+1
  r1=m+1
  print(str(i)+"**"+str(m)+"**",end='')

  for j in range(r1,r2):
    if(i==1):
      for k in range(1,n+1):
        print(k,end=' ')
      #m=10
      break
    else:
      print(j,end=' ')
  print(' ')
  #print(int(n/2))

# 123456
# 131415161718
# 252627282930
# 313233343536
# 192021222324
# 789101112

1**0**1 2 3 4 5 6
2**12**13 14 15 16 17 18
3**24**25 26 27 28 29 30
4**30**31 32 33 34 35 36
5**24**25 26 27 28 29 30
6**6**7 8 9 10 11 12

In [ ]:
# 5

# 1 2 3 4 5 
# 11 12 13 14 15 
# 21 22 23 24 25 
# 16 17 18 19 20 
# 6 7 8 9 10

28.

In [ ]:
n= 5
for i in range(0,int(n/2)+1):
  for a2 in range(i,0,-1):
    print(" ", end = "")
  for j in range(0, i + 1):
    if j>=0:
      print("*", end=' ')
  print("")

for i in range(int(n/2)+1, 0, -1):
    for a2 in range(i-1,1,-1):
        print(" ", end='')
    for j in range(i,1,-1):
      if j>=0:
        print("*", end=' ')
    print("")

*
 * *
  * * *
 * *
*

29.

In [ ]:
n=5
for i in range(1,n+1):
  for j in range(n,0,-1):      
      if i==j:
        print('*',end="")
      else:
        print(str(j),end="")
  print("")

5432*
543*1
54*21
5*321
*4321

In [ ]:
n=4
for i in range(n):
  for j in range(9,0,-1):
    if j%2!=0:
      print('*',end="")
    else:
      print(0,end="")
  print("")

*0*0*0*0*
*0*0*0*0*
*0*0*0*0*
*0*0*0*0*

30.

In [ ]:
n=4
for i in range(n+1,1,-1):
  for j in range(n+1,0,-1):      
      if i==j:
        print('*',end="")
      elif j==1:
        print('*',end="")
      else:
        print(j*0,end="")
  # print("")
  for k in range(2,n+2):      
      if i==k:
        print('*',end="")
      else:
        print(i*0,end="")
  print("")

*000*000*
0*00*00*0
00*0*0*00
000***000

31.

In [ ]:
rows = 5
for i in range(rows, 0, -1):
  for j in range(rows, i, -1):
    print(' ',end="")
  for j in range(1, i + i):
    print("*", end="")
  print("")

for i in range(1,rows):
  for j in range(rows-1,i,-1):
    print(' ',end="")
  for k in range(i+i+2,1,-1):
    print("*",end="")
  print("")

*********
 *******
  *****
   ***
    *
   ***
  *****
 *******
*********

32.

In [ ]:
n=5
for i in range(1,n):
  for j in range(1,i+1):
    if j==1 :
      print("*",end="")
    elif j==(i):
      print("*",end="")
    else :
      print(" ",end="")
  print("")
print("*"*n,end="")

*
**
* *
*  *
*****

33.

In [ ]:
rows = 5
i = 1
while i <= rows:
    j = i
    while j < rows:
        # display space
        print(' ', end='')
        j += 1
    k = 1
    while k <= i:
        print('*', end='')
        k += 1
    print()
    i += 1

i = rows
while i >= 1:
    j = i
    while j <= rows:
        print(' ', end='')
        j += 1
    k = 1
    while k < i:
        print('*', end='')
        k += 1
    print('')
    i -= 1

    *
   **
  ***
 ****
*****
 ****
  ***
   **
    *

34.

In [ ]:
n=5
for i in range(n,0,-1):
  for j in range(1,n+1):
    if j<i:
      print(" ",end="")
    else:
      print("*",end="")
  print("")

    *
   **
  ***
 ****
*****

35.

In [ ]:
n=5
for i in range(n):
  for j in range(i):
    print(" ",end="")
  for k in range(i+1,n+1):
    print(k,end="")
  print("")
for i in range(n-1,0,-1):
  for m in range(i-1):
    print(" ",end="")
  for l in range(i,n+1):
    print(l,end="")
  print("")

12345
 2345
  345
   45
    5
   45
  345
 2345
12345

36.

In [ ]:
n=5
k = 0
count=0
count1=0

for i in range(1, n+1):
    for space in range(1, (n-i)+1):
        print(" ", end="")
        count+=1
    
    while k!=((2*i)-1):
        if count<=n-1:
            print(i+k, end="")
            count+=1
        else:
            count1+=1
            print(i+k-(2*count1), end="")
        k += 1
    
    count1 = count = k = 0
    print()

    1
   232
  34543
 4567654
567898765

37.

In [ ]:
n=5
k = 0
count=0
count1=0

for i in range(1, n+1):
    for space in range(1, (n-i)+1):
        print(" ", end="")
        count+=1
    
    while k!=((2*i)-1):
        if count<=n-1:
            print(i+k, end="")
            count+=1
        # else:
        #     count1+=1
        #     print(i+k-(2*count1), end="")
        k += 1
    
    count1 = count = k = 0
    print()

    1
   23
  345
 4567
56789

In [ ]:
n=5
for i in range(n):
    count = 0
    for k in range(1,n-i):
        print(end=" ")
    for j in range(i+1):
        count = count + 1
    num = count
    for j in range(i+1):
        print(num, end="")
        num = num - 1
    for l in range(2,i+2):
        print(l, end="")
    print()

    1
   212
  32123
 4321234
543212345

38.

In [ ]:
n=5
for i in range(n):
    for k in range(1,n-i):
        print(end=" ")
    for j in range(1,i+2):
        print(j, end="")
    for l in range(i,0,-1):
        print(l, end="")
    print()

    1
   121
  12321
 1234321
123454321

39.

In [ ]:
n=5
for i in range(n):
    for k in range(1,n-i):
        print(end=" ")
    for j in range(1,i+2):
        print("*", end="")
    for l in range(i,0,-1):
        print("*", end="")
    print()

    *
   ***
  *****
 *******
*********

40.

In [ ]:
n=7


for i in range(n-1):
    for k in range(1,n-i):
        print(end=" ")
    for j in range(i,i+1):
        print("*", end="")
    for k in range(1,i+1):
        print(" ",end="")
    

    for k in range(1,i):
        print(" ",end="")
    for l in range(i-1,i):
      if i!=0:
        print("*", end="")
    print("")
print("*"*((n*2)-1))

      *
     * *
    *   *
   *     *
  *       *
 *         *
*************

41.

In [ ]:
n=5
for i in range(n):
  for j in range(i):
    print(" ",end="")
  for k in range(n,i,-1):
    print("*",end="")
  for k in range(n-1,i,-1):
    print("*",end="")
  print("")

*********
 *******
  *****
   ***
    *

42.

In [ ]:
n=5
for i in range(n,1,-1):
  for j in range(i-1):
    print(" ",end="")
  for k in range(n+1,i,-1):
    print("*",end="")
  for k in range(n,i,-1):
    print("*",end="")
  print("")

for i in range(0,n):
  for j in range(i):
    print(" ",end="")
  for k in range(n,i,-1):
    print("*",end="")
  for k in range(n-1,i,-1):
    print("*",end="")
  print("")

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

43.

In [ ]:
n=5
for i in range(1,n+1):
  for j in range(n,i,-1):
    print("",end="")
  for k in range(1,(2*i)):
    print(k,end="")
  print("")

for i in range(n-1,0,-1):
  for j in range(n,i,-1):
    print("",end="")
  for k in range(1,i*2):
    print(k,end="")
  print("")   
  # passed test cases wwithout space of these diomand  questions

1
123
12345
1234567
123456789
1234567
12345
123
1

In [ ]:
n=5
for i in range(1,n+1):
  for j in range(1,n-i+1):
    print(end=' ')
  for k in range(1,(2*i)):
    print(k,end="")
  print()

for i in range(n-1,0,-1):
  for j in range(1,(n-i+1)):
    print(end=' ')
  for k in range(1,(2*i)):
    print(k,end="")
  print()

    1
   123
  12345
 1234567
123456789
 1234567
  12345
   123
    1

In [ ]:
5

    1
   123
  12345
 1234567
123456789
 1234567
  12345
   123
    1

44.

In [ ]:
n=5
for i in range(1,n+1):
  for j in range(1,i+1):
    print(j,end="")
  for k in range(n,i,-1):
    print(" ",end="")
  for k in range(n,i,-1):
    print(" ",end="")
  for j in range(i,0,-1):
    print(j,end="")
  print()

1        1
12      21
123    321
1234  4321
1234554321

45.

In [ ]:
trr

'ABCDEFGHIKLMNOPQRSTUVWXYZ'

In [ ]:
n=5
trr='ABCDEFGHIKLMNOPQRSTUVWXYZ'
for i in range(1,n+1):
  for j in range(n+1,i,-1):
    print(" ",end="")
  print(trr[0:(i*2)-1])

     A
    ABC
   ABCDE
  ABCDEFG
 ABCDEFGHI

46.

In [ ]:
num=n
for i in range(0,num):
  if i==0 or i==num-1:
    print(" "*(num-i-1)+"*"*(i*2+1))
  else:
    print(" "*(num-i-1)+"*"+" "*(i*2+1-2)+"*")

    *
   * *
  *   *
 *     *
*********

In [ ]:
n=5
for i in range(0,n):
  for j in range(i,n):
    print(" ",end="")
  for k in range(i,i+1):
    print(trr[k:i+2],end="")
  # for k in range(i,i+1):
  #   print(trr[i+i],end="")
  print()

     AB
    BC
   CD
  DE
 EF

In [ ]:
n = 5
alpha = 65
num = 0

for i in range(n):
    for j in range(n - i - 1):
        print(" ", end="")
    for k in range(2 * i + 1):
        if i == 0 or i == n - 1:
            print(chr(alpha + num), end="")
            num += 1
        else:
            if k == 0 or k == 2 * i:
                print(chr(alpha + num), end="")
                num += 1
            else:
                print(" ", end="")
    print()

    A
   B C
  D   E
 F     G
HIJKLMNOP

In [ ]:
# 5

#     A
#    B C
#   D   E
#  F     G
# HIJKLMNOP

IndentationError: ignored

47.

In [ ]:
n = 5
for a1 in range(1,n+1): #from row 1 to 5
    for a2 in range(n-a1):
        print(" ", end = "")
    for a3 in range((a1*2)-1):
      if a3==0:
        print("1",end="")
      elif a3== ((a1*2)-2):
        print("2",end="")
      else:
        print(" ", end = "")
    print()

for a1 in range(n + 1, n + 5): #from row 6 to 9
    for a2 in range(a1 - n):
        print(" ", end = "")
    for a3 in range((n+5 - a1)*2 - 1):
      if a3==0:
        print("1", end = "")
      elif a3==((n+5 - a1)*2 - 2):
        print("2",end="")
      else:
        print(" ", end = "")

    print()

    1
   1 2
  1   2
 1     2
1       2
 1     2
  1   2
   1 2
    1

48.

In [ ]:
n=5
for i in range(1,n+1):
    for j in range(1,n+1):
        if i==j or i+j==n+1:
            print('*', end='')
        else:
            print(' ', end='')
    print()

*   *
 * *
  *
 * *
*   *

49.

In [ ]:
n=6
for i in range(1,n):
  for m in range(i,n//2-1):
    print("S",end="")
  for n in range(i,n//2+1):
    print("*",end="")
  for o in range(i,n//2):
    print("S",end="")


  # for l in range(1):
  #   print("S",end="")
# for i in range(0,n):
#   for k in range(1,i+1):  #last  line
#     print(" ",end="")
#   for j in range(n*2,i+i+1,-1):
#     print("*",end="")
  print()

S***

In [ ]:
# heart pattern 
n = 6

# upper part of the heart
for i in range(n//2, n, 2):
    # print first spaces
    for j in range(1, n-i ,2):
        print(" ", end="")
    # print first stars
    for j in range(1, i+1, 1):
        print("*", end="")
    # print second spaces
    for j in range(1, n-i+1, 1):
        print(" ", end="")
    # print second stars
    for j in range(1, i+1, 1):
        print("*", end="")
    print()

# lower part
for i in range(n,0,-1):
    for j in range(i, n, 1):
        print(" ", end="")
    for j in range(1, i*2, 1):
        print("*", end="")
    print()

 ***   ***
***** *****
***********
 *********
  *******
   *****
    ***
     *

50.

In [ ]:
#correct one for test cases
m,n=3,3
l=[]
for i in range(m):
  temp=[int(j) for j in input().split()]
  l.append(temp)
for j in range(m):
  for k in range(m-j):
    print(*l[j])

123
456
789
123
123
123
456
456
789

In [ ]:
arr1 = [[1, 2, 3], [4, 5, 6],[7, 8, 9]]
print(arr1)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
r=3
c=3
arr1 = [[1, 2, 3], [4, 5, 6],[7, 8, 9]]
arrray=[]

for i in range(0,r):
  for k in range(c-1,i-1,-1):
    arrray.append(arr1[i])
for rows in arrray:
  for columns in rows:
    print(columns,end=" ")
  print()

1 2 3
1 2 3
1 2 3
4 5 6
4 5 6
7 8 9

In [ ]:
arr1 = [[1, 2, 3], [4, 5, 6],[7, 8, 9]]

r=3
c=3
arr2=[]
for i in range(r,0,-1):
  for j in range(i,0,-1):
    arr2.append(arr1[j-1])
arr2.sort()
for rows in arr2:
  for columns in rows:
    print(columns,end=" ")
  print()

1 2 3
1 2 3
1 2 3
4 5 6
4 5 6
7 8 9

Others:

In [ ]:
x = 0
while x < 5:
  print('x is currently: ',x)
  print(' x is still less than 10, adding 1 to x')
  x+=1
print("All done")
print("I am done with the iterations")

In [ ]:
ar=[3,4,1,2,0]